.home{
  display: flex;
    align-items: center;
    justify-content: center;
    background: deepskyblue;
     width: 500px;
        height: 200px;
    font-size: 40px;
    font-family: "Bodoni MT";
    border-radius: 50px;
    transition: ease-in-out 0.2s;
    position: absolute;
    left: 550px;
    top: 50px;

}

.home:hover{
    scale: 110%;
}


.elements{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.element{
transition: ease-in-out 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 10px;
    background: deepskyblue;
    width: 40%;
    height: 200px;
}


.element:hover{
    scale: 105%;
}
