.links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

a{
    text-decoration: none;
    color: grey;
}


.home{

    width: 100%;
    text-align: center;
    background: #7c7070;
    display: block;


}

h1{
    margin: 0;
}


.elements{
    margin: auto;
    width: 50%;
    background: grey;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    gap: 10px;
    justify-content: center;
    overflow: auto;



}

.elements h1{
    font-size: 40px;
    text-align: center;
}

.element{
    overflow: hidden;
    margin: 0;
    background: #b0b0b0;
    border-radius: 10px;
    width: 40%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: ease-in-out 1s;
}

.smallFont{
    font-size: 90%;
}

.element h4 {
    margin: 0;
}
.element p{
    margin: 0;
}


.buttonWrap button{
    margin: 5px;
    background: none;
    border: 1px solid black;
    transition: ease-in-out 0.1s;
}

.buttonWrap button:hover{
    background: #d2d2d2;
}

.details{
    margin: auto;
    width: 50%;
    text-align: center;
    background: #7c7070;
    height: 60px;
    border-top-right-radius: 20px;
    border-top-left-radius:20px;
}

.details h4 {
    margin: 0;
}

.biggerWidth{
    width: 91%;
}

/*.elements::-webkit-scrollbar {*/
/*    width: 12px;*/
/*}*/

/*.elements::-webkit-scrollbar-track {*/
/*    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
/*    border-radius: 10px;*/
/*}*/

/*.elements::-webkit-scrollbar-thumb {*/
/*    border-radius: 10px;*/
/*    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
/*}*/



