body {
/*    background: linear-gradient(-45deg, #ffffff, #97b1ff, #58ffb3, #ffd300);*/
/*    background-size: 400% 400%;*/
/*    animation: gradient 15s ease infinite;*/
/*    height: 100vh;*/
 font-family: Calibri;
    margin: 0;
}

/*@keyframes gradient {*/
/*    0% {*/
/*        background-position: 0% 50%;*/
/*    }*/
/*    50% {*/
/*        background-position: 100% 50%;*/
/*    }*/
/*    100% {*/
/*        background-position: 0% 50%;*/
/*    }*/
/*}*/
.wrap{
    display: flex;
    width: 100%;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 999;

}

.header{

   border-bottom: 2px solid orange ;
    height: 20px;
    width: 50vw;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: ease-in-out 0.3s;
    margin-bottom: 20px;
}

.header:hover{
    font-size: 30px ;
    height: 100px;
    background: orange;
    : 50%;
}








