body{
    margin: 0;
    background: #515159;
}

.wrap{
    display: flex;
    width: 100%;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.header{

    background: #3a3a3a;
    height: 20px;
    width: 50vw;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: ease-in-out 0.3s;
    margin-bottom: 20px;
}

.header:hover{
    font-size: 30px ;
    height: 100px;
}








